.login {
    display: flex;
    flex-direction: column;

    width: 20rem;
    position:absolute;
    left: 40%;
}
.login input {
    margin-bottom: 0.5rem;
    height:1.5rem;
}

.login button {
    margin-bottom: 0.5rem;
    height:2rem;
}