.todo{
    width: 70%;
    margin: auto;
    background-color: rgb(235, 239, 241);
    justify-content: center;
    text-align: center; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 5px 10px #888888;
   
}

#task-data {
   display:flex ;
   width: 50%;
   background-color: rgb(172, 223, 223);
   margin: auto;
   text-align: center;
   justify-content: center;
   box-shadow: 5px 10px #888888;
   }


#task-data img{
 width: 12%;
 height: 50px

}
#task-data p{
    font-size: 30px;
    color: rgb(66, 66, 66);
    height: 50px
}